[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/alexanderk23/glfw
[submodule "vendor/z80"]
	path = vendor/z80
	url = https://github.com/kosarev/z80
[submodule "vendor/freetype"]
	path = vendor/freetype
	url = https://github.com/freetype/freetype
[submodule "vendor/regex"]
	path = vendor/regex
	url = https://github.com/boostorg/regex
[submodule "vendor/sse2neon"]
	path = vendor/sse2neon
	url = https://github.com/DLTcollab/sse2neon
[submodule "vendor/IXWebSocket"]
	path = vendor/IXWebSocket
	url = https://github.com/machinezone/IXWebSocket
[submodule "vendor/json.cpp"]
	path = vendor/json.cpp
	url = https://github.com/jart/json.cpp
[submodule "vendor/xxhash_cpp"]
	path = vendor/xxhash_cpp
	url = https://github.com/RedSpah/xxhash_cpp
[submodule "vendor/cxxopts"]
	path = vendor/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "vendor/rang"]
	path = vendor/rang
	url = https://github.com/agauniyal/rang
